<!-- IF GEO_MAP_TYPE -->
	<!-- Openlayers -->
	<link href="assets/GeoBB/ol-dist/ol.css" type="text/css" rel="stylesheet">
	<!--script src="http://openlayers.org/en/latest/build/ol-debug.js"></script-->
	<script src="assets/GeoBB/ol-dist/ol-debug.js"></script>

	<!-- Recherche par nom -->
	<link href="assets/GeoBB/ol-geocoder/ol-geocoder.css" type="text/css" rel="stylesheet">
	<script src="assets/GeoBB/ol-geocoder/ol-geocoder.js"></script>

	<!-- Proj4 -->
	<script src="assets/GeoBB/proj4js/proj4.js"></script>

	<!-- Dominique -->
	<script src="assets/GeoBB/myol/myol.js"></script>
	<link href="assets/GeoBB/myol/myol.css" rel="stylesheet">

	<!-- Resize -->
		<link href="assets/GeoBB/jquery-ui/jquery-ui.css" rel="stylesheet">
		<script src="assets/GeoBB/jquery-ui/jquery-ui.min.js"></script>
	<!-- End resize -->

	<link href="{EXT_DIR}styles/all/theme/map.css" rel="stylesheet" />
	<script>
		<!-- INCLUDE map.js -->
		<!-- INCLUDE {SCRIPT_NAME}_map_{GEO_MAP_TYPE}.js -->
	</script>
<!-- ENDIF -->
