<!-- INCLUDE overall_header.html -->

<!-- IF GEOMJSON -->
	<div id="map"></div>
	<div id="position-json" style="display:none">{GEOMJSON}</div>
	<!-- INCLUDE viewtopic_point_etiquette.html -->
	<hr clear="all" style="border-color:transparent" />
<!-- ENDIF -->

<!-- BEGIN postrow -->
	<!-- IF not postrow.S_POST_DELETED -->
		<div id="p{postrow.POST_ID}" class="post whas-profile ">
			<table class="point-post ">
				<tr>
					<!-- IF postrow.S_HAS_ATTACHMENTS and postrow.S_ROW_COUNT is odd -->
						<td>
							<!-- BEGIN attachment -->
								{postrow.attachment.DISPLAY_ATTACHMENT}
							<!-- END attachment -->
						</td>
					<!-- ENDIF -->

					<td>
						<!-- INCLUDE viewtopic_point_postit.html -->
					</td>

					<!-- IF postrow.S_HAS_ATTACHMENTS and postrow.S_ROW_COUNT is even -->
						<td>
							<!-- BEGIN attachment -->
								{postrow.attachment.DISPLAY_ATTACHMENT}
							<!-- END attachment -->
						</td>
					<!-- ENDIF -->
				</tr>
			</table>
		</div>
	<!-- ENDIF -->
<!-- END postrow -->

<!-- IF S_NUM_POSTS > 1 or .pagination -->
	<form id="viewtopic" method="post" action="{S_TOPIC_ACTION}">
	<fieldset class="display-options" style="margin-top: 0; ">
		<!-- IF not S_IS_BOT -->
		<label>{L_DISPLAY_POSTS}{L_COLON} {S_SELECT_SORT_DAYS}</label>
		<label>{L_SORT_BY} {S_SELECT_SORT_KEY}</label> <label>{S_SELECT_SORT_DIR}</label>
		<input type="submit" name="sort" value="{L_GO}" class="button2" />
		<!-- ENDIF -->
	</fieldset>
	</form>
<!-- ENDIF -->

<div class="action-bar bottom">
	<!-- IF not S_IS_BOT and S_DISPLAY_REPLY_INFO -->
		<div class="buttons">
			<a href="{U_POST_REPLY_TOPIC}" class="bouton-new-comment">Ajouter un nouveau commentaire ou une image à ce point</a>
		</div>
	<!-- ENDIF -->

	<!-- INCLUDE jumpbox.html -->

	<!-- INCLUDE viewtopic_topic_tools.html -->

	<!-- IF .quickmod -->
		<div class="dropdown-container dropdown-container-{S_CONTENT_FLOW_BEGIN} dropdown-up dropdown-{S_CONTENT_FLOW_END} dropdown-button-control" id="quickmod">
			<span title="{L_QUICK_MOD}" class="dropdown-trigger button icon-button modtools-icon dropdown-select">{L_QUICK_MOD}</span>
			<div class="dropdown hidden">
				<div class="pointer"><div class="pointer-inner"></div></div>
				<ul class="dropdown-contents">
				<!-- BEGIN quickmod -->
					<!-- DEFINE $QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) -->
					<li><a href="{quickmod.LINK}"<!-- IF $QUICKMOD_AJAX --> data-ajax="true" data-refresh="true"<!-- ENDIF -->>{quickmod.TITLE}</a></li>
				<!-- END quickmod -->
				</ul>
			</div>
		</div>
	<!-- ENDIF -->

	<!-- IF .pagination or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS}
			<!-- IF .pagination -->
				<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
				&bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
	<!-- ENDIF -->
</div>

<!-- INCLUDE overall_footer.html -->
